.clockblock {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  top: 60px;
  left: 160px;
  font-size: 500px;
  padding: none;
}

.clockblock h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.clockblock h2 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
