#todo .todo-box {
  position: absolute;
  height: 500px;
  width: 400px;
  background-image: linear-gradient(#f6ffdc, #f6ffdc), linear-gradient(0.5turn, #fdff76be, #824cffaa, #2b00ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}

#todo .todo-box:nth-child(1) {
  top: 330px;
  left: 50px;
  background-image: linear-gradient(#f6ffdc, #f6ffdc), linear-gradient(0.5turn, #fdff76be, #ca24f8aa, #2b00ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#todo .todo-box:nth-child(2) {
  top: 330px;
  left: 550px;
  background-image: linear-gradient(#f6ffdc, #f6ffdc), linear-gradient(0.5turn, #ffcbfabe, #674cffaa, #ff0000aa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#todo .todo-box:nth-child(3) {
  top: 330px;
  left: 1050px;
  background-image: linear-gradient(#f6ffdc, #f6ffdc), linear-gradient(0.5turn, #ff7171be, #03ff0ba7, #2b00ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#todo .todo-box h2 {
  margin-left: 25px;
  margin-top: 10px;
  font-weight: 800;
}

#todo .todo-box input {
  margin-left: 20px;
  height: 25px;
  width: 350px;
  border: 1px solid teal;
  border-radius: 5px;
  font-size: 14px;
}

#todo .todo-box li {
  margin-bottom: 5px;
}

#todo .todo-box li span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}

#todo .todo-box:nth-child(1) li span {
  color: teal;
}

#todo .todo-box:nth-child(2) li span {
  color: tomato;
}

#todo .todo-box:nth-child(3) li span {
  color: rgb(0, 45, 130);
}
