.hidden {
  display: none;
}
.login-css {
  position: absolute;
  top: 10px;
  left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.login-title {
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  margin-top: -10px;
  left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s ease-in-out;
}

.login-title:hover {
  font-weight: 800;
  color: rgb(34, 0, 255);
}
