.placeImage1 {
  position: absolute;
  width: 550px;
  height: 350px;
  top: -110px;
  right: -30px;
  opacity: 0.3;
  border-radius: 5px;
  background-color: white;
  transition: all 0.6s ease-in-out;
}

.placeImage1:hover {
  transform: scale(1.1);
  border-radius: 20px;
  top: -20px;
  right: -30px;
  z-index: 2;
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(45deg, rgb(134, 97, 255) 0%, rgb(97, 194, 255) 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  opacity: 1;
}

.placeImage2 {
  position: absolute;
  width: 550px;
  height: 350px;
  top: -110px;
  right: 540px;
  opacity: 0.3;
  border-radius: 5px;
  background-color: white;
  transition: all 0.6s ease-in-out;
}

.placeImage2:hover {
  transform: scale(1.1);
  border-radius: 20px;
  top: -20px;
  right: 540px;
  opacity: 1;
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(45deg, rgb(223, 255, 97) 0%, rgb(205, 255, 187) 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: 2;
}

.stockImage {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 90px;
  left: 40px;
  opacity: 1;
  border-radius: 5px;
  background-color: white;
  transition: all 0.8s ease-in-out;
}

.stockImage:hover {
  transform: scale(1.05);
}
